body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.adoption-page {
  text-align: center;
}

.header-1 {
  position: relative;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/adoption/adoptionback.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.search-container-1 {
  display: flex;
  align-items: center;
  margin-bottom: 300px;
  color: white;
  width: 30%;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #f8f8f8;
  z-index: 1;
}

.search-icon-1 {
  margin-right: 8px;
  color: gray;
  width: 50px;
  height: 30px;
  background: #f8f8f8;
  border-radius: 18px 15px 15px 18px;
  padding: 10px;
}

.search-icon-1:hover {
  color: #3f3b97;
}

.search-container-1 input {
  border: none;
  outline: none;
  padding: 8px;
  width: 250px;
  background: none;
  color: white;
}

 
.category-icons {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 20px;
}

.icon-box {
  background: white;
  width: 180px;
  height: 180px;  
  margin-top: -100px;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  perspective: 1000px;  
}

.icon-box:hover {
  box-shadow: 0px 7px 7px #2b2866;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.icon-box:hover .flip-card-inner {
  transform: rotateY(180deg);  
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  color: #3f3b97;
}

.flip-card-front svg {
  font-size: 100px; 
}

.flip-card-back {
  transform: rotateY(180deg);
  color: #3f3b97;
}

.filter-label {
  font-family: Inter;
  font-size: 40px; 
  font-weight: 700;
  text-transform: uppercase;
}

.section-title-2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #323773;
}


.pets-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 30px;
  margin-right: -100px;
}

.pet-card {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 280px;
}

.pet-image-container {
  position: relative;
}

.pet-image {
  width: 100%;
  object-fit: cover;
}

.heart-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.heart-icon {
  font-size: 24px;
  color: #6b46c1;
}

.heart-icon.favorited {
  color: #ff0000;
}

.heart-icon:hover {
  transform: scale(1.3);
}

.pet-name {
  font-size: 18px;
  font-weight: 600;
  color: #323773;
  margin: 10px 0;
}

.see-them-card {
  background-color: #323773;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
}

.see-them-content {
  text-align: center;
  padding: 20px;
}

.paw-icon {
  font-size: 120px;
  margin-bottom: 10px;
}

.see-them-content p {
  font-size: 20px;
  margin-bottom: 80px;
  color: white;
}

.see-them-content h3 {
  font-size: 20px;
  font-weight: bold;
}


.planning-section {
  margin-top: 80px;
  margin-bottom: 40px;
}

.planning-section-title {
  font-family: Inter;
  font-weight: 700px;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #323773;
}

.planning-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.planning-card {
  padding: 20px;
  text-align: center;
}

.planning-icon {
  font-size: 100px;
  color: #323773;
  margin-bottom: 10px;
}

.planning-title {
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
  margin-bottom: 10px;
}

.planning-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.explore-btn-9 {
  background-color: transparent;
  border: 2px solid #6b46c1;
  color: #6b46c1;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600px;
  margin-top: 30px;
}

.explore-btn-9:hover {
  background-color: #6b46c1;
  color: #fff;
}


.articles-section {
  margin-top: 70px;
  margin-bottom: 40px;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.article-card {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 400px;
}

.article-image {
  width: 80%;
  object-fit: cover;
}

.article-title {
  font-size: 18px;
  font-weight: 600;
  color: #323773;
  margin: 15px 0;
}

.read-more-btn-9 {
  width: 100%;
  background: white;
  color: #323773;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 0px 0px 50px 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600px;
}

.read-more-btn-9:hover {
  background-color: #323773;
  color: white;
}