@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sacramento&display=swap");

.footer a{
  transition: 0.3s;
}

.footer a:hover{
  color: #010969;
}

.logo-2 {
  font-family: "Luckiest Guy", cursive;
  color: #323773;
  font-size: 60px;
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s;
  margin-top: 40px;
  margin-bottom: 25px;
  transition: 0.3s;
}

.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 40px;
  padding-top: 50px;
  border-top: 3px solid black;
  padding-bottom: 50px;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .logo-2 {
    font-size: 50px;
  }
  .footer .container .box {
    text-align: center;
  }
  .footer .container .box a {
    justify-content: center;
  }
}
