@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Sacramento&display=swap');

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	background-color: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-1 {
	font-family: 'Luckiest Guy', serif;
	font-weight: 400;
	font-style: normal;
	color: #323773;
	font-size: 45px;
	text-decoration: none;
	min-width: 200px;
}

.logo-1:hover {
	color: #3f0d6e;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.nav-links li {
	display: inline-block;
	font-family: Inter;
	cursor: pointer;
	min-width: fit-content;
}

.nav-links a {
	text-decoration: none;
	color: #333;
	font-weight: 500;
	padding: 5px 10px;
	transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
	color: #4a3aff;
	border-bottom: 2px solid #4a3aff;
}

.dropdown {
	position: relative;
}

.dropbtn {
	background: none;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #333;
}

.dropbtn:hover {
	color: blue;
}

.icon {
	margin-left: 10px;
	font-size: 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 30px;
	left: 10px;
	background: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	width: 180px;
	border-radius: 5px;
	z-index: 1;
	margin-top: -10px;
}

.dropdown-content li {
	padding: 10px;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
	display: block;
}

.auth-buttons {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.sign-in {
	padding: 8px 16px;
	border: 2px solid #333;
	border-radius: 6px;
	text-decoration: none;
	color: #333;
	font-family: Inter;
	text-align: center;
	width: 100%;
}

.sign-in:hover {
	background-color: #5f287f;
	color: white;
}

.join-now {
	padding: 8px 16px;
	background-color: #323773;
	color: white;
	border-radius: 6px;
	text-decoration: none;
	font-family: Inter;
	width: 100%;
}

.join-now:hover {
	background-color: #5f287f;
}

.cart-icon {
	font-size: 30px;
	color: #323773;
}

.cart-icon:hover {
	transform: scale(1.1);
	color: #3f0d6e;
}

.menu-btn {
	display: none;
}

.username {
	color: #333;
	font-weight: 600;
	margin-right: 10px;
	text-decoration: none;
	margin-top: 8px;
	text-align: center;
}

.logout-btn {
	background-color: #323773;
	color: rgb(235, 228, 228);
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 14px;
	transition: 0.3s;
	border-radius: 17px;
	font-weight: bolder;
}

.logout-btn:hover {
	background-color: #1b205e;
}

@media (max-width: 768px) {
	.navbar {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	.logo-1 {
		font-size: 25px;
		margin-left: 0;
	}

	.nav-links {
		display: flex;
		flex-direction: row;
		gap: 10px;
		display: none;
	}

	.nav-links.active {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.nav-links li {
		font-size: 5px;
	}

	.auth-buttons {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}

	.dropdown-content {
		position: static;
		margin-top: 10px;
	}

	.dropdown-content li {
		padding: 10px;
		text-align: left;
	}

	.nav-links a {
		font-size: 13px;
	}
	.menu-btn {
		display: block;
	}
}

@media (min-width: 769px) {
	.nav-links {
		display: flex;
		gap: 20px;
	}

	.nav-links li {
		display: inline-block;
		font-family: Inter;
		cursor: pointer;
	}

	.auth-buttons {
		display: flex;
		gap: 15px;
		position: relative;
	}
}

@media (max-width: 480px) {
	.navbar {
		flex-direction: row;
		align-items: center;
	}

	.logo-1 {
		font-size: 25px;
		margin-left: 0;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		gap: 20px;
	}

	.nav-links.active {
		display: flex;
	}

	.nav-links li {
		font-size: 18px;
	}

	.auth-buttons {
		display: flex;
	}

	.menu-btn {
		display: block;
		background: none;
		border: none;
		font-size: 25px;
		cursor: pointer;
	}

	.dropdown-content {
		width: 110px;
		position: static;
		margin-top: 10px;
		margin-left: -50px;
		text-align: center;
	}

	.dropdown-content li {
		padding: 10px;
		text-align: center;
		margin-left: -30px;
	}

	.nav-links a {
		font-size: 16px;
	}
	.logout-btn {
		width: 50px;
		text-align: center;
		padding: 5px;
		font-size: 10px;
		margin-top: 9px;
	}
	.username {
		font-size: 13px;
		text-align: center;
		margin-top: 5px;
		margin-left: 20px;
	}
	.cart-icon {
		position: relative;
		font-size: 25px;
	}
}

@media (max-width: 991px) {
	.navbar {
		padding-inline: 20px;
	}
	.logo-1 {
		font-size: 40px;
		min-width: 170px;
	}
	.auth-buttons {
		flex-direction: column;
	}
	.nav-links li:nth-child(4) {
		display: none;
	}
	.nav-links li.dropdown ul li:nth-child(6) {
		display: block;
	}
}
