body {
  margin: 0;
  padding: 0;
  background: #f8f7fc;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: #f8f7fc;
  margin-bottom: 120px;
}

.image-section {
  position: relative;
  flex: 1;
  top: 20px;
  right: 50px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #9085e1, #6a5acd);
  border-radius: 50%;
  height: 75%;
  max-width: 40%;
  margin-right: 150px;
}

.image-section::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
  height: 60%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 0;
}

.dog-image {
  position: relative;
  top: 90px;
  max-width: 80%;
  height: auto;
  z-index: 1;
  transform: scaleX(-1);
}

.form-section {
  flex: 1;
  padding: 40px;
  text-align: center;
  max-width: 500px;
  position: relative;
  top: 30px;
  z-index: 2;
}

.form-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #5a4dbd;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs label {
  text-align: left;
  font-weight: bold;
  color: #372e77;
  font-family: Arial, Helvetica, sans-serif;
}

.inputs input,
.inputs select {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: white;
  font-size: 16px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #6a5acd;
}

.toggle-password:hover {
  color: #5a4dbd;
}

.register-button {
  background-color: #6a5acd;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
}

.register-button:hover {
  background-color: #5a4dbd;
}

.login-text {
  margin-top: 10px;
}

.login-link {
  color: #6a5acd;
  font-weight: bold;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

.google-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #c5bacc;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
}

.google-signup:hover {
  background-color: #f1f1f1;
}

.google-icon {
  width: 20px;
  height: 20px;
  color: #372e77;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  color: #372e77;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.icon:hover {
  color: #6a5acd;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
    padding: 10px;
    margin-top: 170px;
    
    margin-bottom: 200px;
  }

  .image-section {
    flex: none;
    width: 70%;
    padding-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
  }

  .form-section {
    flex: none;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .form-title {
    font-size: 18px;
  }

  .inputs input,
  .inputs select,
  .register-button,
  .google-signup {
    max-width: 100%;
  }

  .register-button {
    font-size: 14px;
  }

  .google-signup {
    padding: 8px;
  }

  .social-icons {
    gap: 10px;
  }

  .icon {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .register-container {
    width: 390px;
    margin-bottom: 200px;
  }
  .form-section {
    padding: 0px;
    width: 350px;
  }

  .form-title {
    font-size: 16px;
  }

  .inputs input,
  .inputs select {
    padding: 6px;
  }

  .register-button {
    font-size: 14px;
    padding: 10px;
  }

  .google-signup {
    font-size: 14px;
  }

  .google-icon {
    width: 18px;
    height: 18px;
  }

  .icon {
    font-size: 20px;
  }
  .image-section {
    
    margin-right: 170px;
  }
}


@media (max-width: 380px) {
  .register-container {
    max-width: 100%;
    margin-bottom: 400px;
    margin-top: 100px;
  }
  .form-section {
    padding: 15px;
  }

  .form-title {
    font-size: 16px;
  }

  .inputs input,
  .inputs select {
    padding: 6px;
  }

  .register-button {
    font-size: 14px;
    padding: 10px;
  }

  .google-signup {
    font-size: 14px;
  }

  .google-icon {
    width: 18px;
    height: 18px;
  }

  .icon {
    font-size: 20px;
  }
  .image-section {
    margin-top: 250px;
    margin-right: 100px;
  }
}