.trainer-details-container-2777 {
	position: relative;
	top: 50px;
	max-width: 1000px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	/* background-color: #fff; */
}

.trainer-details-container-2777 h2 {
	text-align: center;
	color: #323773;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 30px;
}

.trainer-content-2777 {
	display: flex;
	align-items: center;
	gap: 150px;
	padding: 20px;
	border-radius: 8px;
}

.trainer-image-container-2777 {
	position: relative;
	left: 90px;
	width: 250px;
	height: 400px;
	overflow: hidden;
	border-radius: 8px;
	margin-right: 20px;
}

.trainer-image-2777 {
	width: 250px;
	height: 350px;
	border-radius: 8px;
	object-fit: cover;
	/* border: 3px solid #ddd; */
}

.trainer-icon-2777 {
	width: 150px;
	height: 150px;
	color: #aaa;
}

.trainer-info-2777 {
	flex-grow: 1;
	border-left: 1px solid #ccc;
	padding-left: 20px;
	position: relative;
	bottom: 30px;
}

.trainer-info-2777 p {
	margin: 15px 0;
	font-size: 16px;
	color: #000000;
	line-height: 1.5;
	position: relative;
	/* top: 50px; */
}

.trainer-info-2777 p strong {
	display: inline;
	color: #000000;
	margin-right: 5px;
}

.trainer-info-2777 a {
	color: #001a9e;
	text-decoration: none;
}

.trainer-info-2777 a:hover {
	text-decoration: underline;
}

.contactLinks-2777 {
	margin-top: 50px;
	/* margin-bottom: 60px; */
	display: flex;
	gap: 50px;
	justify-content: center;
}

.contactLink-2777 {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 4px 20px;
	border-radius: 20px;
	font-weight: 500;
	font-size: 0.9em;
	text-decoration: none;
	color: #fff;
}

.contactLink-2777.whatsapp-2777 {
	background-color: #ffffff;
	color: #25d366;
	border: 2px solid #25d366;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.contactLink-2777.email-2777 {
	background-color: #2e317f;
	color: #fff;
	border: 2px solid #2e317f;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.contactLink-2777 svg {
	font-size: 1.2em;
}

.error-2777 {
	color: #e74c3c;
	text-align: center;
	font-size: 16px;
	margin: 20px 0;
}
