.product-page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.product-container-1 {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  
  max-width: 900px;
  width: 100%;
  gap: 30px;
}

.product-image-1 {
  width: 170px;
  padding-right: 50px;
  border-radius: 10px;
  margin-left: -150px;
}

.product-info-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-title-1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.product-price-1 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin: 10px 0;
}

.product-description-1 {
  margin: 15px 0;
  width: 70%;
}

.product-description-1 p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

.quantity-container-1 {
  margin: 15px 0;
}

.quantity-container-1 p {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  
}

.quantity-controls-1 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity-controls-1 .bb {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  
}

.quantity-controls-1 span {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}



.quantity-controls-1 .add-to-cart-1 {
  background: white;
  color: #2d2b5b;
  border: 2px solid #2d2b5b;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  width: 400px;
  margin-left : 60px;
}

.quantity-controls-1 .add-to-cart-1:hover {
  background: #2d2b5b;
  color: white;
}

.buy-now-1 {
  background: #2d2b5b;
  color: white;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  width: 570px;
}

.buy-now-1:hover {
  background: #1f1c3b;
}
